:root {
  --primary-color: #7a40f2f2;
  --background-color-main: #f2f8fd;
}

.App {
  width: 100%;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  overflow-y: auto;
}

hr {
  margin: 0.5rem 0 !important;
}
