:root {
  --primary-color: #7a40f2f2;
  --background-color-main: #003333;
}

.App {
  width: 100%;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #003333;
  overflow-y: auto;
  color: #fff;
}

hr {
  margin: 0.5rem 0 !important;
}

.Toastify__toast-body > div:last-child {
  font-size: 0.9rem;
}

.modal-dialog .modal-content {
  background-color: #d9d9d9;
  border: 1px;
  border-radius: 20.96px;
}

.modal-dialog .modal-header {
  border-bottom: none;
  padding: 10px 1rem 0px 1rem;
}
.modal-dialog .modal-footer {
  border-top: none;
}
.modal-dialog .btn-close {
  font-size: 12px;
}
.modal-dialog .modal-body {
  padding: 0 1rem;
}
.modal-dialog input[type="radio"] {
  outline: 0;
  margin-top: 2px;
}

@media only screen and (max-width: 431px) {
  .modal .modal-dialog {
    margin-top: 20%;
  }
}
